.banner {
  display: flex;
  flex-flow: column;
  width: 100%;
  align-items: center;
  text-align: center;
}

.banner .banner__title {
  font-family: "Grandstander", cursive;
  font-weight: 400;
  font-size: 44px;
  margin: 25px;
  color: #2c394b;
}

.banner .banner__subtitle {
  width: 80%;
  padding: 10px;
  font-size: 15px;
  color: #082032;
  margin-bottom: 25px;
  border: 1px solid #ff4c29;
  border-radius: 15px;
}
