footer {
    display: flex;
    width: 100%;
    background-color: var(--raisin-black);
    padding: 35px;
}

footer img {
    width: 48px;
    height: 48px;
    align-self: center;
}

footer ul {
    width: 100%;
    text-align: end;
    font-size: 12px;
    list-style: none;
    color: white;
    margin-left: 15px;
}

footer ul li {
    margin: 10px 0;
}