* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.header, .banner, .baseStyle1, .baseStyle2, .baseStyle3, .footer {
    width: 100%;
    min-width: 15rem;
    height: 15rem;
}

.baseStyle1, .baseStyle2, .baseStyle3 {
    height: 40rem;
}

.header {
    background-color: rgb(30, 77, 77);
}

.banner {
    background-color: aqua;
    height: 8rem;
}

.banner-text {
    font-size: 3rem;
}

.baseStyle1 {
    background-color: rgb(36, 73, 235);
}

.baseStyle2 {
    background-color: rgb(116, 46, 116);
}

.baseStyle3 {
    background-color: rgb(250, 87, 66);
}

.footer {
    background-color: burlywood;
}

/* @media (min-width: 600px) {
    .baseStyle2, .baseStyle3 {
        width: 50%;
    }
}

@media (min-width: 800px) {
    .container {
        width: 800px;
        margin: 0 auto;
    }
    .baseStyle1, .baseStyle2, .baseStyle3 {
        width: 33.33%;
    }
} */